
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --main-color:#6096B4;
    --main-transition:0.3s;
}
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #01314a;
    text-align: center;
    color: white;
}



h1{
    font-size: 40px;
    margin-bottom: 25px;
}

.links{
    height: 1px;
    text-align: left;
    position: relative;
    text-shadow: #0cb8f1 4px 4px 8px;
    font-size: 30px;
    margin-top: 2.2rem;
    margin-left: 3rem ;
}

a{
    text-decoration: none;
    color: white;
    margin: 8px;
}

.intro{
    margin-top: 5%;
    text-align: center;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.intro{
    margin-bottom: 10px;;
    text-shadow: #0cb8f1 4px 4px 6px;
}

h4{
    text-shadow: #0cb8f1 2px 2px 4px;
    transition: all ease 0.2s;
}

img{
    margin-bottom: 10px;
}

.feat{
    margin: 30px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.feat:hover{
    filter: brightness(1.1);
    filter: drop-shadow(#0cb8f1 1px 1px 4px);
}

.feat:hover h4{
    text-shadow: #0cb8f1 4px 4px 6px;
}